<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "mybatis-3-config.dtd" >
<configuration>
	<settings>
		<!-- 延迟加载的开关,开启时,所有的关联对象都会延迟加载,默认为false -->
		<setting name="lazyLoadingEnabled" value="true" />
		<!-- 属性启用时,会使带有延迟加载属性的对象立即加载,默认为true -->
		<setting name="aggressiveLazyLoading" value="false" />
		<setting name="logImpl" value="STDOUT_LOGGING"/>
	</settings>
	<plugins>
		<!-- 分页插件配置 -->
		<!-- com.github.pagehelper为PageHelper类所在包名 -->
		<plugin interceptor="com.github.pagehelper.PageInterceptor">
			<!--支持分页参数配置 -->
			<property name="supportMethodsArguments" value="true" />
			<!-- 分页是否合理,如果是页码超过最后一页按照最后一页算,如果是 页码小于0按照第一页算 -->
			<property name="reasonable" value="true" />
			<!-- 分页参数名配置 -->
			<property name="params" value="pageNum=pageNum;pageSize=pageSize;" />
		</plugin>
	</plugins>
</configuration>
